@media screen and (max-width: 1440px) {
  main {
    width: 100%;
  }
  .left_col {
    width: 33%;
  }
  .right_col {
    width: 67%;
  }
  .card_front {
    right: -75px;
  }
  .card_back {
    right: -135px;
  }
  .right_col form {
    width: 450px;
    margin-left: 17rem;
  }
}
@media screen and (max-width: 1100px) {
  main {
    flex-direction: column;
  }
  .left_col {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 375px;
    height: 375px;
  }
  .card_front {
    right: 0px;
    bottom: -12rem;
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
    z-index: 2;
  }
  .card_back {
    right: -5.5rem;
    top: -12rem;
    z-index: 0;
    margin: auto;
  }
  .right_col {
    background-color: var(--white);
    width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .right_col form {
    width: 100%;
    max-width: 500px;
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  .left_col {
    min-height: 320px;
    height: 320px;
  }
  .card_balls {
    margin-bottom: 1rem;
  }
  .card_back,
  .card_front {
    width: 90%;
    background-repeat: no-repeat;
  }
  .card_front {
    bottom: -10rem;
    left: -10px;
  }
  .card_back {
    right: -10px;
    top: -8.7rem;
    background-size: contain;
  }
  .cvv {
    top: 87px;
    right: 35px;
  }
  .right_col {
    min-height: 520px;
  }
}
